:root {
    --grid-border: 3px solid black;
}

* {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    border: 2px solid red;
    border-radius: 7px;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#header > * {
    max-width: 100px;
    text-align: center;
    border: 2px solid red;
}

#messageboard {
    max-width: 300px;
    margin-bottom: 1rem;
    text-align: center;
}

#left-token,
#right-token {
    flex: 1;
}

#left-name,
#right-name {
    flex: 3;
}

#start-button {
    flex: 1;
    background-color: limegreen;
}

#start-button:hover {
    background-color: cyan;
}

#gameboard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square {
    background-color: white;
    font-size: 40px;
}

#p0 {
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
}

#p1 {
    border-bottom: var(--grid-border);
}

#p2 {
    border-left: var(--grid-border);
    border-bottom: var(--grid-border);
}

#p3 {
    border-right: var(--grid-border);
}

#p5 {
    border-left: var(--grid-border);
}

#p6 {
    border-top: var(--grid-border);
    border-right: var(--grid-border);
}

#p7 {
    border-top: var(--grid-border);
}

#p8 {
    border-top: var(--grid-border);
    border-left: var(--grid-border);
}